# This is a first level header

## This is a second level header

### Third level header

### Third level again

*Italics*

**Bold**

**Bold**

- This is a list
- An unordered list
- Kinda cool

- Another unorderd list
- Here is another line
- One more line
  - Indent with two spaces
  - Tab might work as well

Create an unordered list with the shortcuts you have learned

Here is my list:

- `m` - Changes to `markdown`
- `b` - Inserts cell **b**elow
- `a` - Inserts cell **a**above
- `x` - Deletes cell
- `y` - Changes cell to `code`

## This is an ordered list:

1. This is the first item in my ordered list.
1. The second thing
1. The third thing
  - Sub list
1. Keep growing the list
  1. Sub ordered lists
  1. Holy Toledo
1. Keep writing
1. More things

$\sum_{i=1}^{N} 2^{-i} \approx 1$
$$\sum_{i=1}^{N} 2^{-i} \approx 1$$

In [3]:
age = 42

In [7]:
print(age)

42

In [9]:
42
age

42

In [1]:
first_name = 'Ahab'

In [22]:
42
age
first_name

'Ahab'

In [4]:
print(42)
print(age)
print(first_name)

42
42
Ahab

In [5]:
print(first_name, 'is', age)

Ahab is 42

In [15]:
last_name

NameError: name 'last_name' is not defined

In [6]:
age = 62
print(first_name, 'is', age)

Ahab is 62

In [7]:
age = age + 3
print(age)

65

In [8]:
flimflam = 62
kjsfdgks = 'Ahab'
# Give variables good names
hsgfda = 91 # This won't be evaluated

In [9]:
print(kjsfdgks, 'is', flimflam)

Ahab is 62

In [10]:
print(first_name)

Ahab

In [11]:
atom = 'hydrogen'
print(atom)

hydrogen

In [12]:
print(atom[0:3])

hyd

In [13]:
print(len(atom))

8

In [14]:
age = 24; foo = 72
print(age)
print(foo)

24
72

In [15]:
print(type(42))

<class 'int'>

In [16]:
print(type(42.1))

<class 'float'>

In [17]:
print(type('words go here'))

<class 'str'>

In [18]:
Darwin = 'Charles'
print(type(Darwin))

<class 'str'>

In [19]:
print('before')
print()
print('after', Darwin)

before

after Charles

In [20]:
print(max(1, 2, 3))

3

In [21]:
print(max('A', 'O'))

O

In [45]:
print(min(0, 4, 99, -4))

-4

In [24]:
import math

In [25]:
print('pi is', math.pi)

pi is 3.141592653589793

In [26]:
help(math)

Help on module math:

NAME
    math

MODULE REFERENCE
    https://docs.python.org/3.7/library/math

    The following documentation is automatically generated from the Python
    source files.  It may be incomplete, incorrect or include features that
    are considered implementation detail and may vary between Python
    implementations.  When in doubt, consult the module reference at the
    location listed above.

DESCRIPTION
    This module is always available.  It provides access to the
    mathematical functions defined by the C standard.

FUNCTIONS
    acos(x, /)
        Return the arc cosine (measured in radians) of x.

    acosh(x, /)
        Return the inverse hyperbolic cosine of x.

    asin(x, /)
        Return the arc sine (measured in radians) of x.

    asinh(x, /)
        Return the inverse hyperbolic sine of x.

    atan(x, /)
        Return the arc tangent (measured in radians) of x.

    atan2(y, x, /)
        Return the arc tangent (measured in radians) of y/x.

        Unlike atan(y/x), the signs of both x and y are considered.

    atanh(x, /)
        Return the inverse hyperbolic tangent of x.

    ceil(x, /)
        Return the ceiling of x as an Integral.

        This is the smallest integer >= x.

    copysign(x, y, /)
        Return a float with the magnitude (absolute value) of x but the sign of y.

        On platforms that support signed zeros, copysign(1.0, -0.0)
        returns -1.0.

    cos(x, /)
        Return the cosine of x (measured in radians).

    cosh(x, /)
        Return the hyperbolic cosine of x.

    degrees(x, /)
        Convert angle x from radians to degrees.

    erf(x, /)
        Error function at x.

    erfc(x, /)
        Complementary error function at x.

    exp(x, /)
        Return e raised to the power of x.

    expm1(x, /)
        Return exp(x)-1.

        This function avoids the loss of precision involved in the direct evaluation of exp(x)-1 for small x.

    fabs(x, /)
        Return the absolute value of the float x.

    factorial(x, /)
        Find x!.

        Raise a ValueError if x is negative or non-integral.

    floor(x, /)
        Return the floor of x as an Integral.

        This is the largest integer <= x.

    fmod(x, y, /)
        Return fmod(x, y), according to platform C.

        x % y may differ.

    frexp(x, /)
        Return the mantissa and exponent of x, as pair (m, e).

        m is a float and e is an int, such that x = m * 2.**e.
        If x is 0, m and e are both 0.  Else 0.5 <= abs(m) < 1.0.

    fsum(seq, /)
        Return an accurate floating point sum of values in the iterable seq.

        Assumes IEEE-754 floating point arithmetic.

    gamma(x, /)
        Gamma function at x.

    gcd(x, y, /)
        greatest common divisor of x and y

    hypot(x, y, /)
        Return the Euclidean distance, sqrt(x*x + y*y).

    isclose(a, b, *, rel_tol=1e-09, abs_tol=0.0)
        Determine whether two floating point numbers are close in value.

          rel_tol
            maximum difference for being considered "close", relative to the
            magnitude of the input values
          abs_tol
            maximum difference for being considered "close", regardless of the
            magnitude of the input values

        Return True if a is close in value to b, and False otherwise.

        For the values to be considered close, the difference between them
        must be smaller than at least one of the tolerances.

        -inf, inf and NaN behave similarly to the IEEE 754 Standard.  That
        is, NaN is not close to anything, even itself.  inf and -inf are
        only close to themselves.

    isfinite(x, /)
        Return True if x is neither an infinity nor a NaN, and False otherwise.

    isinf(x, /)
        Return True if x is a positive or negative infinity, and False otherwise.

    isnan(x, /)
        Return True if x is a NaN (not a number), and False otherwise.

    ldexp(x, i, /)
        Return x * (2**i).

        This is essentially the inverse of frexp().

    lgamma(x, /)
        Natural logarithm of absolute value of Gamma function at x.

    log(...)
        log(x, [base=math.e])
        Return the logarithm of x to the given base.

        If the base not specified, returns the natural logarithm (base e) of x.

    log10(x, /)
        Return the base 10 logarithm of x.

    log1p(x, /)
        Return the natural logarithm of 1+x (base e).

        The result is computed in a way which is accurate for x near zero.

    log2(x, /)
        Return the base 2 logarithm of x.

    modf(x, /)
        Return the fractional and integer parts of x.

        Both results carry the sign of x and are floats.

    pow(x, y, /)
        Return x**y (x to the power of y).

    radians(x, /)
        Convert angle x from degrees to radians.

    remainder(x, y, /)
        Difference between x and the closest integer multiple of y.

        Return x - n*y where n*y is the closest integer multiple of y.
        In the case where x is exactly halfway between two multiples of
        y, the nearest even value of n is used. The result is always exact.

    sin(x, /)
        Return the sine of x (measured in radians).

    sinh(x, /)
        Return the hyperbolic sine of x.

    sqrt(x, /)
        Return the square root of x.

    tan(x, /)
        Return the tangent of x (measured in radians).

    tanh(x, /)
        Return the hyperbolic tangent of x.

    trunc(x, /)
        Truncates the Real x to the nearest Integral toward 0.

        Uses the __trunc__ magic method.

DATA
    e = 2.718281828459045
    inf = inf
    nan = nan
    pi = 3.141592653589793
    tau = 6.283185307179586

FILE
    /usr/local/Cellar/python/3.7.0/Frameworks/Python.framework/Versions/3.7/lib/python3.7/lib-dynload/math.cpython-37m-darwin.so

In [49]:
#!pip install --upgrade pandas

Requirement already up-to-date: pandas in /usr/local/lib/python3.7/site-packages (0.23.3)
Requirement already satisfied, skipping upgrade: python-dateutil>=2.5.0 in /usr/local/lib/python3.7/site-packages (from pandas) (2.7.3)
Requirement already satisfied, skipping upgrade: pytz>=2011k in /usr/local/lib/python3.7/site-packages (from pandas) (2018.5)
Requirement already satisfied, skipping upgrade: numpy>=1.9.0 in /usr/local/lib/python3.7/site-packages (from pandas) (1.15.0)
Requirement already satisfied, skipping upgrade: six>=1.5 in /usr/local/lib/python3.7/site-packages (from python-dateutil>=2.5.0->pandas) (1.11.0)

In [27]:
print('The cos(pi) is', math.cos(math.pi))

The cos(pi) is -1.0

What `math` function would you use to calculate the square root?

Download the data for today's workshop, locations posted on `slack` and the etherpad

In [28]:
import pandas

data = pandas.read_csv('data/gapminder_gdp_oceania.csv')
print(data)

       country  gdpPercap_1952  gdpPercap_1957  gdpPercap_1962  \
0    Australia     10039.59564     10949.64959     12217.22686
1  New Zealand     10556.57566     12247.39532     13175.67800

   gdpPercap_1967  gdpPercap_1972  gdpPercap_1977  gdpPercap_1982  \
0     14526.12465     16788.62948     18334.19751     19477.00928
1     14463.91893     16046.03728     16233.71770     17632.41040

   gdpPercap_1987  gdpPercap_1992  gdpPercap_1997  gdpPercap_2002  \
0     21888.88903     23424.76683     26997.93657     30687.75473
1     19007.19129     18363.32494     21050.41377     23189.80135

   gdpPercap_2007
0     34435.36744
1     25185.00911

In [29]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 13 columns):
country           2 non-null object
gdpPercap_1952    2 non-null float64
gdpPercap_1957    2 non-null float64
gdpPercap_1962    2 non-null float64
gdpPercap_1967    2 non-null float64
gdpPercap_1972    2 non-null float64
gdpPercap_1977    2 non-null float64
gdpPercap_1982    2 non-null float64
gdpPercap_1987    2 non-null float64
gdpPercap_1992    2 non-null float64
gdpPercap_1997    2 non-null float64
gdpPercap_2002    2 non-null float64
gdpPercap_2007    2 non-null float64
dtypes: float64(12), object(1)
memory usage: 288.0+ bytes

In [30]:
print(data.columns)

Index(['country', 'gdpPercap_1952', 'gdpPercap_1957', 'gdpPercap_1962',
       'gdpPercap_1967', 'gdpPercap_1972', 'gdpPercap_1977', 'gdpPercap_1982',
       'gdpPercap_1987', 'gdpPercap_1992', 'gdpPercap_1997', 'gdpPercap_2002',
       'gdpPercap_2007'],
      dtype='object')

In [31]:
print(data.describe())

       gdpPercap_1952  gdpPercap_1957  gdpPercap_1962  gdpPercap_1967  \
count        2.000000        2.000000        2.000000        2.000000
mean     10298.085650    11598.522455    12696.452430    14495.021790
std        365.560078      917.644806      677.727301       43.986086
min      10039.595640    10949.649590    12217.226860    14463.918930
25%      10168.840645    11274.086022    12456.839645    14479.470360
50%      10298.085650    11598.522455    12696.452430    14495.021790
75%      10427.330655    11922.958888    12936.065215    14510.573220
max      10556.575660    12247.395320    13175.678000    14526.124650

       gdpPercap_1972  gdpPercap_1977  gdpPercap_1982  gdpPercap_1987  \
count         2.00000        2.000000        2.000000        2.000000
mean      16417.33338    17283.957605    18554.709840    20448.040160
std         525.09198     1485.263517     1304.328377     2037.668013
min       16046.03728    16233.717700    17632.410400    19007.191290
25%       16231.68533    16758.837652    18093.560120    19727.615725
50%       16417.33338    17283.957605    18554.709840    20448.040160
75%       16602.98143    17809.077557    19015.859560    21168.464595
max       16788.62948    18334.197510    19477.009280    21888.889030

       gdpPercap_1992  gdpPercap_1997  gdpPercap_2002  gdpPercap_2007
count        2.000000        2.000000        2.000000        2.000000
mean     20894.045885    24024.175170    26938.778040    29810.188275
std       3578.979883     4205.533703     5301.853680     6540.991104
min      18363.324940    21050.413770    23189.801350    25185.009110
25%      19628.685413    22537.294470    25064.289695    27497.598692
50%      20894.045885    24024.175170    26938.778040    29810.188275
75%      22159.406358    25511.055870    28813.266385    32122.777857
max      23424.766830    26997.936570    30687.754730    34435.367440

Import the "Americas" file into `python`

In [32]:
americas = pandas.read_csv('data/gapminder_gdp_americas.csv')

In [33]:
print(americas.head(n = 4))

  continent    country  gdpPercap_1952  gdpPercap_1957  gdpPercap_1962  \
0  Americas  Argentina     5911.315053     6856.856212     7133.166023
1  Americas    Bolivia     2677.326347     2127.686326     2180.972546
2  Americas     Brazil     2108.944355     2487.365989     3336.585802
3  Americas     Canada    11367.161120    12489.950060    13462.485550

   gdpPercap_1967  gdpPercap_1972  gdpPercap_1977  gdpPercap_1982  \
0     8052.953021     9443.038526    10079.026740     8997.897412
1     2586.886053     2980.331339     3548.097832     3156.510452
2     3429.864357     4985.711467     6660.118654     7030.835878
3    16076.588030    18970.570860    22090.883060    22898.792140

   gdpPercap_1987  gdpPercap_1992  gdpPercap_1997  gdpPercap_2002  \
0     9139.671389     9308.418710    10967.281950     8797.640716
1     2753.691490     2961.699694     3326.143191     3413.262690
2     7807.095818     6950.283021     7957.980824     8131.212843
3    26626.515030    26342.884260    28954.925890    33328.965070

   gdpPercap_2007
0    12779.379640
1     3822.137084
2     9065.800825
3    36319.235010

In [34]:
print(americas.tail())

   continent              country  gdpPercap_1952  gdpPercap_1957  \
20  Americas          Puerto Rico     3081.959785     3907.156189
21  Americas  Trinidad and Tobago     3023.271928     4100.393400
22  Americas        United States    13990.482080    14847.127120
23  Americas              Uruguay     5716.766744     6150.772969
24  Americas            Venezuela     7689.799761     9802.466526

    gdpPercap_1962  gdpPercap_1967  gdpPercap_1972  gdpPercap_1977  \
20     5108.344630     6929.277714     9123.041742     9770.524921
21     4997.523971     5621.368472     6619.551419     7899.554209
22    16173.145860    19530.365570    21806.035940    24072.632130
23     5603.357717     5444.619620     5703.408898     6504.339663
24     8422.974165     9541.474188    10505.259660    13143.950950

    gdpPercap_1982  gdpPercap_1987  gdpPercap_1992  gdpPercap_1997  \
20    10330.989150    12281.341910    14641.587110    16999.433300
21     9119.528607     7388.597823     7370.990932     8792.573126
22    25009.559140    29884.350410    32003.932240    35767.433030
23     6920.223051     7452.398969     8137.004775     9230.240708
24    11152.410110     9883.584648    10733.926310    10165.495180

    gdpPercap_2002  gdpPercap_2007
20    18855.606180     19328.70901
21    11460.600230     18008.50924
22    39097.099550     42951.65309
23     7727.002004     10611.46299
24     8605.047831     11415.80569

- What is the function to save a `csv` in `pandas`?
- Save the "Americas" data as a `csv` file as `python_training.csv`.

In [35]:
#pandas.to_csv
#help(pandas.to_csv)

americas.to_csv("python_training.csv")

In [36]:
help(americas.to_csv)

Help on method to_csv in module pandas.core.frame:

to_csv(path_or_buf=None, sep=',', na_rep='', float_format=None, columns=None, header=True, index=True, index_label=None, mode='w', encoding=None, compression=None, quoting=None, quotechar='"', line_terminator='\n', chunksize=None, tupleize_cols=None, date_format=None, doublequote=True, escapechar=None, decimal='.') method of pandas.core.frame.DataFrame instance
    Write DataFrame to a comma-separated values (csv) file

    Parameters
    ----------
    path_or_buf : string or file handle, default None
        File path or object, if None is provided the result is returned as
        a string.
    sep : character, default ','
        Field delimiter for the output file.
    na_rep : string, default ''
        Missing data representation
    float_format : string, default None
        Format string for floating point numbers
    columns : sequence, optional
        Columns to write
    header : boolean or list of string, default True
        Write out the column names. If a list of strings is given it is
        assumed to be aliases for the column names
    index : boolean, default True
        Write row names (index)
    index_label : string or sequence, or False, default None
        Column label for index column(s) if desired. If None is given, and
        `header` and `index` are True, then the index names are used. A
        sequence should be given if the DataFrame uses MultiIndex.  If
        False do not print fields for index names. Use index_label=False
        for easier importing in R
    mode : str
        Python write mode, default 'w'
    encoding : string, optional
        A string representing the encoding to use in the output file,
        defaults to 'ascii' on Python 2 and 'utf-8' on Python 3.
    compression : string, optional
        A string representing the compression to use in the output file.
        Allowed values are 'gzip', 'bz2', 'zip', 'xz'. This input is only
        used when the first argument is a filename.
    line_terminator : string, default ``'\n'``
        The newline character or character sequence to use in the output
        file
    quoting : optional constant from csv module
        defaults to csv.QUOTE_MINIMAL. If you have set a `float_format`
        then floats are converted to strings and thus csv.QUOTE_NONNUMERIC
        will treat them as non-numeric
    quotechar : string (length 1), default '\"'
        character used to quote fields
    doublequote : boolean, default True
        Control quoting of `quotechar` inside a field
    escapechar : string (length 1), default None
        character used to escape `sep` and `quotechar` when appropriate
    chunksize : int or None
        rows to write at a time
    tupleize_cols : boolean, default False
        .. deprecated:: 0.21.0
           This argument will be removed and will always write each row
           of the multi-index as a separate row in the CSV file.

        Write MultiIndex columns as a list of tuples (if True) or in
        the new, expanded format, where each MultiIndex column is a row
        in the CSV (if False).
    date_format : string, default None
        Format string for datetime objects
    decimal: string, default '.'
        Character recognized as decimal separator. E.g. use ',' for
        European data